*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.p-bt{
    padding: 60px 0;

}
.top-bar{
    background-image: url('../Images/top-bar.jpg');
    padding: 60px 0;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-bar ul{
    display: flex;
    justify-content: center;
}
.top-bar ul li{
    margin: 0 10px;
}
.top-bar ul li a{
    color: #fff;
    text-decoration: none;
}
.top-bar ul li a:hover{
    color: #e1182c;
}
.top-bar ul li:nth-child(3){
    margin: 0 10px;
    color: #e1182c;
}
.form-group{
    width: 60%;
    margin:0 auto 20px;
}
.form-group input{
    border-radius:0px;
    padding: 20px 10px;
}
.form-group input[type= "submit"] {
    border-radius: 0px;
    padding: 10px 10px;
    width:100%;
    margin: 20px 0;
}
.pass input[type = "submit"]:hover,
.form-group input[type= "submit"]:hover {
    border: 1px solid ;
    background-color: #fff;
    color: #e1182c;
}
.pass{
    width:60%;
    margin: 0 auto;
}
.btn-p {
    cursor:pointer;
}
.btn-pass{
    border:none;
    background-color:#fff;
    margin: 0 auto;
}
.pass input[type = "submit"]{
    border-radius:0;
}
.btn-pass:hover {
    color: #e1182c;
}
.pass-body{
    text-align:center;
}
.pass-body p  {
    margin: 30px 0 50px;
}
.pass-body p a {
    color: #e1182c;
    text-decoration: underline #e1182c;
}
.pass-img {
    margin-top:30px;
}
.pass-img img {
    width: 129px;
}

.nav.nav-tabs img {
    width: 100%;
}