
<div class="top-bar">
    <h2>@ViewBag.page</h2>
    <ul>
        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>/</li>
        <li>@ViewBag.page</li>
    </ul>
</div>
<div class="container p-bt">
    <div class="size-content">
        <h2>Size Giày VANS -Cách Đo Size Giày VANS Chi Tiết</h2>
        <b>Các bước kiểm tra size giày VANS:</b>
        <p><b class="text-danger">Bước 1: </b>Chuẩn bị một tờ giấy và đặt chân lên tờ giấy đó.</p>
        <p><b class="text-danger">Bước 2: </b>Vẽ gót chân và mũi chân lên tờ giấy.</p>
        <p><b class="text-danger">Bước 3: </b>Kẻ 1 đường từ đầu gót chân đến đầu ngón dài nhất như hình 
        (lưu ý: sử dụng ngón chân dài nhất vì một số người dài ngón cái, một số người dài ngón giữa v.v...)
        </p>
        <p><b class="text-danger">Bước 4: </b>Đo chiều dài đường thẳng vừa kẻ và so sánh với mục Cm của bảng size.</p>

        <img src="~/Images/bang-size-vans.jpg" />
        <p><i><b  class="text-danger">Lưu ý:</b></i>Mỗi hãng thể thao có mỗi bảng size khác nhau, không áp dụng size của hãng khác vào hãng <i><b>VANS</b></i>.</p>
        <p>Những sản phẩm thuộc <i><b>VANSVN</b></i> phân phối sẽ có những yếu tố sau đây:</p>
        <img src="~/Images/describe-giay.jpg" />
        <p>Những sản phẩm không có phiếu bảo hành, tag độc quyền v.v... chúng tôi sẽ không chịu trách nhiệm cho sản phẩm đó</p>
    </div>
    

</div>

