
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.page = "Lịch Sử Của VANS Từ Năm 1996 Tới Nay";
}

<div class="top-bar">
    <h2>@ViewBag.page</h2>
    <ul>
        <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
        <li>/</li>
        <li>@ViewBag.page</li>
    </ul>
</div>

<div class="container p-bt">
    <div class="wrap_background_aside padding-top-15 margin-bottom-40">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="content-page rte">
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>VANS KỈ NIỆM NĂM VÀNG, HÃY NHÌN LẠI 50 NĂM LỊCH SỬ "OFF THE WALL"</strong></em></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img alt="LỊCH SỬ CỦA VANS" data-thumb="original" original-height="377" original-width="377" src="//bizweb.dktcdn.net/100/140/774/files/vans-ki-niem-50-nam.png?v=1507858203185" style="width: 200px; height: 200px;"></span></span></p>
                    <h2 style="text-align: center;"><span style="font-size:14px;"><em><strong><span style="line-height:1;"><span style="font-family:Arial,Helvetica,sans-serif;">LỊCH SỬ CỦA VANS</span></span></strong></em></span></h2>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><strong><em>NĂM 1966</em></strong></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img alt="LỊCH SỬ CỦA VANS" data-thumb="original" original-height="885" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-1-60955328-8cc5-4c49-a6db-adc26896713e.jpg?v=1518967944532"></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Vào ngày 16 tháng 3 năm 1966, hai anh em Pauld Van Doren và Jim Van Doren cùng với những người đồng nghiệp là Gordon Lee và Serge Delia đã bắt đầu sự nghiệp tại căn nhà địa chỉ 704 E Broadway tại Anaheim, thành phố&nbsp;Califonia. Là xưởng duy nhất sản xuất giày tại gia và phân phối ngay lập tức cho công chúng.</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Vào ngày đầu tiên đó có 12 thợ nhân công sản xuất những đôi giày và những đôi giày đó&nbsp;được bán ra thị trường&nbsp;ngay buổi chiều cùng ngày.</span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="905" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-2-76edfea7-8847-4c28-902f-7f98d8e836c5.jpg?v=1518967956820"></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Phiên bản giày cổ điển <em>Vans #44</em> hay hiện&nbsp;nay&nbsp;được gọi là <em><strong>The Authentic</strong></em> ra đời.&nbsp;</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Biệt danh "<em>The House Of Vans</em>" được đặt ra vào những năm đầu thập niên 70 bởi những dân trượt ván thích cách họ trưng bày sản phẩm trên cửa sổ ở Anaheim</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><strong><u><em>Đầu thập niên 1970</em></u></strong></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Fan hâm mộ chủ yếu là dân trượt ván&nbsp;của Vans lan rộng và trải khắp miền nam California</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1976</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="600" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-3-49a8e5f2-ba51-4d2e-8a4f-ec27a6998b6c.jpg?v=1518967967785"></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Phiên bản <em>Vans #95</em> hay hiện nay&nbsp;gọi là <em><strong>ERA </strong></em>được&nbsp;gia cố thêm lớp đệm và ra mắt&nbsp;nhiều màu sắc khác nhau&nbsp;ra đời. Được thiết kế bởi <em>Tony Alva</em> và <em>Stacy Peralta</em> và trở thành sự lựa chọn hàng đầu của dân trượt ván thời bấy giờ.</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Đồng thời năm 1976&nbsp;logo <em><strong>VANS "OFF THE WALL"</strong></em> lần đầu tiên xuất hiện trước công chúng.</span></span></p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1977</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong><img data-thumb="original" original-height="1170" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-4-d2af3e88-4270-4294-9cc6-f288e331504b.jpg?v=1518967977973"></strong></em></u></span></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em>Vans #36</em> hay được gọi là<em><strong> Old Skool</strong></em> ra đời với đường viền nổi tiếng. Phiên bản <em><strong>Old Skool</strong></em> là những đôi giày <strong><em>Vans </em></strong>đầu tiên sử dụng chất liệu da để tăng độ bền của giày. Đường viền thân giày lấy cảm hứng từ một họa tiết được vẽ ngẫu nhiên của <em>Paul Van Doren</em> ban đầu được đặt tên là sọc <u>Jazz </u>và dần trở thành một dấu hiệu không thể nhầm lẫn của thương hiệu <em><strong>VANS</strong></em>.</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em>Vans #98 </em>cũng được giới thiệu nhờ sự giúp đỡ của dân trượt ván và những tay đua BMX, <em><strong>Vans Classic Slip-on</strong></em> trở nên nổi tiếng ở nam California và là tiền để cho Vans Slip On hiện giờ, dần trở thành phiên bản không thể thiếu biểu tượng cho VANS.</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Cuối những năm thập niên 70 <em><strong>VANS </strong></em>có 70 cửa hàng tại California và được bán thông qua các đại lý trong nước lẫn quốc tế.</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><u><strong>Năm 1978</strong></u></em></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="610" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-5-c104ea6b-4568-470b-9f4d-5db43b21444a.jpg?v=1518968041393"></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em>Vans "Style 38"</em> hay còn gọi là <em><strong>Vans Sk8 </strong></em>được ra mắt vào năm 1978 với thiết kế đổi mới, ngoài sọc <u>Jazz </u>nổi tiếng thì giờ đây cổ đôi giày sẽ cao qua mắt cá chân, nhằm bảo vệ phần quan trọng của chân,&nbsp;nơi mà&nbsp;các vận động viên trượt ván lạm dụng để có những kiểu trượt độc đáo, đồng thời <em><strong>SK8 </strong></em>cũng mang lại điểm nhấn mới cho những&nbsp;công viên trượt ván thời bấy giờ.</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1982</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="385" original-width="900" src="//bizweb.dktcdn.net/100/140/774/files/lich-su-cua-vans-1-1.jpg?v=1518968031020"></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans Classic Slip-On</strong></em> thu hút sự chú ý của cộng đồng quốc tế khi được <strong>Sean Penn</strong> mang trong bộ phim <em>Fast Times</em> với bối cảnh tại <em>Ridgemont High</em></span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1984</strong></em></u></span></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans </strong></em>đệ trình hồ sơ cho mục 11 của quyền bảo vệ phá sản. Mặc dù giày <em><strong>Vans </strong></em>vẫn đang bán rất tốt nhưng nhiều sản phẩm <em><strong>Vans </strong></em>cung cấp đã làm cạn kiệt ngân sách công ty và Vans không thể vượt qua được nợ.</span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Tòa án phê duyệt kế hoạch cải cách của <em><strong>Vans </strong></em>và<em> Paul Van Doren</em> trở lại làm chủ tịch. <em>Paul </em>đã nói với tất cả nhân viên rằng họ có thể sẽ không được tăng lương trong 3 năm tới và ngân sách sẽ bị cắt giảm ngoại trừ chất lượng giày vẫn phải được dữ nguyên.</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1987</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Trong 3 năm dưới sự dẫn dắt của <em><strong>Paul</strong></em>, Vans chỉ tra được cho các&nbsp;chủ nợ là 100 xu Dollar Mỹ và vào tháng 12 <em><strong>VANS </strong></em>báo tái nợ 12 triệu đô và bắt đầu lại chính sách "chương 11"</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1988</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans Steve Caballero</strong></em>, đôi giày trượt băng đầu tiền được giới thiệu, đồng thời <em><strong>VANS </strong></em>lần đầu&nbsp;cho ra mắt những vật liệu chống chịu thời tiết với nhãn <strong>Mountain Edition</strong>.</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><u><em><strong><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;">Năm 1991</span></span></strong></em></u></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans </strong></em>đưa đợt bán cổ phiếu đầu tiên tới công chúng với giá <em>14 USD</em> trên thị trường chứng khoán <em>NASDAQ</em></span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1933</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans </strong></em>giới thiệu giày đi trên tuyết&nbsp;<em><strong>Vans Snowboard Boot</strong></em> cho mua tuyết rơi năm 1933 và mùa đông 1934</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1995</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="427" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/1995-1.jpg?v=1507861816723"></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans </strong></em>tài trợ cho <strong>Wared Tour</strong> lần đầu tiên. Và vào năm 2001 <em><strong>Vans </strong></em>đã đạt một khoản lợi nhuận không nhỏ từ <em><strong>Vans Wared Tour,</strong></em> chương trình hòa nhạc chạy dài nhất ở Mỹ.</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1996</strong></em></u></span></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Vans là nhà tài trợi chính cho lễ khai mạc Triple Crown của Skateboarding</span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Vans và Supreme kí hợp đồng hợp tác lâu dài với một loạt phong cách cho phiên bản Old Skool</span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 1997</strong></em></u></span></span></span></p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;">Vans tạo ra một loạt hoạt động trong lĩnh vực thể thao hàng đầu thế giới với bước đầu mua thương hiệu Triple Crown of Surfing, và về sau Vans Triple Crown Series sẽ hoạt động trong các lĩnh vực trượt ván, BMX, lướt sóng, trượt tuyết và mô tô đua. Series này của Vans được phát thường xuyên trên đài ESPN2</span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Năm 1998<br>
                                Vans mở buổi phát hành công khai lớn nhất từ trước đến giờ của họ, bày bán 46000 đôi giày trong sân mái vòm tại trung tâm thương mại Orange trực thuộc thành phố Orange.<br>
                                Cũng trong năm đó, Daniel Franck mang trên mình thương hiệu của Vans giành huy chương bạc Olympic môn trượt tuyết tại Nagano Games.<br>
                                Năm 2000<br>
                                Vans được công nhận bởi Forbes là “Công ty tầm trung tốt nhất năm 2000”
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><u><em><strong><span style="font-family:Arial,Helvetica,sans-serif;">Năm 2001</span></strong></em></u></span></span></p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="359" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2001-1.jpg?v=1513647677033"></span></span></p>
                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>Vans </strong></em>hỗ trợ sản xuất và ra mắt bộ phim “<em>Dogtown and Z-Boys</em>”, nói về những cái nhìn đầu tiên của <em>Stacy Peralta</em> về bộ môn trượt ván và những nhân tài phát triển môn thể thao này. Bộ phim nhận được giải<em> Audience Award</em> và B<em>est Director Award</em> tại Liên Hoan Phim <em>Sundance</em>. Bộ phim được kể lại bởi <strong>Sean Penn</strong>. Sau đó bộ phim được ra mắt cho công chúng và trở thành một trong những di sản đầu tiên đánh mốc sự nghiệp của Vans.<br>
                                <em><strong>Vans </strong></em>có cho mình thỏa thuận phát sóng truyền hình cho seri <em>Vans Triple Crown</em> trên kênh <em>NBC Sports</em> và <strong>Fox Sport</strong>.<br>
                                <em><strong>Vans </strong></em>mua quyền kiểm soát của <em><strong>Vans Warped Tour</strong></em>, cuộc thi âm nhạc thể thao hàng đầu cả nước.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2002</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><em>Danny Kass</em> và <em>Doriane Vidal </em>giành huy chương <em>Olympic </em>bộ môn trượt truyết tại thành phố <em>Salt Lake</em> khi trang bị cho mình đôi giày trượt tuyết của <em><strong>Vans</strong></em>.</span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2003</strong></em></u></span></span></span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Đội trượt ván của Vans bắt tay vào chuyến lưu diễn quốc tế đầu tiên của mình Pleased to Meet You Tour diễn ra tại 7 quốc gia ở Châu Âu sau đó quay trở lại Hoa Kỳ và để lại dấu ấn của mình tại 30 thành phố<br>
                                Vans Triple Crown Series năm ấy là sự kiện lớn nhất từ trước đến nay của Vans với hơn 285,000 người tham dự và 50 triệu lượt xem trực tiếp trên NBC Sports và Fox Sport.<br>
                                Vans ra mắt bộ sưu tập Vans by Vault, một bộ sưu tập giày dép với thiết kế thời trang cao cấp trên những hình bóng cổ điển của Vans.
                            </span>
                        </span><br>
                        &nbsp;
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><strong><em>Năm 2004</em></strong></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="259" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2004-1.jpg?v=1513647756247"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;"><span style="font-size:14px;"><span style="font-family: Arial, Helvetica, sans-serif; text-align: justify;"><em><strong>Vans </strong></em>ra mắt <u><em><strong>Vans Customs</strong></em></u> tại <u>www.vans.com</u>, cho phép các nhà thiết kế thời trang có thể tạo ra những sản phẩm <em><strong>Classic Slip-ons</strong></em> của riêng mình bằng cách sử dụng hàng trăm kiểu kết hợp màu sắc và hoa văn khác nhau. Vào tháng 10, <u><em><strong>Old Skool</strong></em></u><em><strong> </strong></em>được thêm vào các phong cách có sẵn trong bảng lựa chọn chi tiết thiết kế.</span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Vào tháng 6, Tổng công ty <strong>VF </strong>đã hoàn tất việc mua <strong>Vans </strong>với giá 396 triệu đô la bao gồm các lựa chọn về cổ phiếu.<br>
                                <em><strong>Vans Warped Tour</strong></em>, đạt kỉ lục khi cán mốc 500.000 người tham dự chào mừng kỉ niệm 10 năm thành lập.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2005</strong></em></u></span></span></span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Trong một sự kiện mà ngành công nghiệp ván trượt sẽ có một cuộc thi, Rune Glifberg, Chris Miller và Cara-Beth Burnside là những người trúng giải trong buổi lễ khai mạc của Pro-tec Pool Party tại Vans Skatepark, Block at Orange. Sự kiện ngày 14 tháng 5 diễn ra ở mặt tiền của một nhà đấu thầu và thu hút một lượng lớn các bậc thầy thời trang trong quá khứ lẫn các chuyên gia hàng đầu.<br>
                                Vans tạo ra một khái niệm mới trong các cuộc thi trượt băng đường phố với Vans Downtown Showdown, được tổ chức tại Universal Studios Back Lot vào ngày Lễ lao động. Các công ty ván trượt được mời nộp các thiết kế mà họ ăn ý nhất cho buổi triển lãm tại khu vực thành phố Brooklyn.<br>
                                Cuộc thi xe đạp kĩ năng tự do đầu tiên do Vans tổ chức Vans/ Let It Ride BMX Jam diễn ra tại Las Vegas vào cuối tháng 9 với người thắng cuộc là Scotty Sranmer.<br>
                                Vans tiếp tục tạo ra những nỗ lực hợp tác đổi mới thông qua dòng Vault by Vans với sự kết hợp giữa giày thể thao Vans và nhãn hiệu lớn nổi tiếng Marc Jacobs.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2006</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="426" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2006-1.jpg?v=1513647826877"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Nhân dịp lễ kỉ niệm 40 năm, <strong><em>Vans </em></strong>lập nên thương hiệu<strong> The Heart Of Youth Culture</strong>.<br>
                                Được biết đến như người dẫn đầu lĩnh vực giày thể thao từ lâu, Vans ra mắt bộ sưu tập quần áo rộng rãi cho cả nam giới và phụ nữ. Người chơi trượt băng <em>Pro Anthony Van Engelen</em> trở thành tay đua đầu tiên của <em><strong>Vans Apparel</strong></em>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><em><strong>Vans </strong></em>làm mới lại những đứa con của mình khi trở thành đối tác với nhà vô địch huyền thoại <em>Christian Hosoi</em>. Và để chúc mừng cho sự kiện này , <em><strong>Vans </strong></em>ra mắt ấn bản giới hạn <strong><em>Hosoi Rising Sun Sk8-Hi</em></strong>.</span></span><br>
                        &nbsp;
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><span style="color:#c0392b;"><u><em><strong>Năm 2007</strong></em></u></span></span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Nhận thấy tầm quan trọng của văn hoá <em><strong>Vans Warped Tour </strong></em>và ý nghĩa của nó đối với cộng đồng <strong>punk-rock</strong> và <strong>skate</strong>, <strong>Rock and Roll Hall of Fame</strong> và <strong>Bảo tàng ở Cleveland</strong> mở ra một cuộc triển lãm ghi lại 12 năm đầu của <em>Tour</em>.<br>
                                <em><strong>Vans </strong></em>tung ra bộ sưu tập đặc biệt được mong đợi nhất cho đến nay <em><strong>Vans x The Simpsons </strong></em>có các tác phẩm nghệ thuật từ <em>Kaws</em>, <em>Stash</em>, <em>Gary Panter</em>, <em>Geoff McFetridge</em>, <em>Dave Flores</em>, <em>Futura</em>, <em>Mr. Cartoon</em>, <em>Sam Messner</em>, <em>Taka Hayashi</em>, <em>Tony Munoz</em>, <em>Todd James</em> và <em>Neckface</em>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: justify;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2008</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>VANS </strong></em>mang thương hiệu <em><strong>The Heart Of Youth Culture</strong></em> đến <em>Trung Quốc</em> cùng với việc mở cửa hàng bán lẻ đầu tiên tại <em>Thượng Hải</em>.<br>
                                <strong>Joel Tudor</strong> gia nhập dưới tư cách là một đối tác đầu tiên về lướt sóng trong chương trình thiết kế của <em><strong>Vans</strong></em>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2009</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><strong>Harry N.Abrams</strong> xuất bản quyển sách :”<em><strong>Vans: Off The Wall, Stories Of Sole From Vans Originals</strong></em>”, kể về những hoạt động thể thao huyền thoại, những họa sĩ và nhạc sĩ đã góp sức định hình nên <u><em><strong>Vans</strong></em></u>, biểu tượng văn hóa California.</span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;"><span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2010</strong></em></u></span></span></span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="425" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2010-1.jpg?v=1513647918309"></span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>Vans </strong></em>mở sự kiện <strong>House Of Vans</strong> ở thành phố <em>Brooklyn</em>, gồm một buổi hòa nhạc bởi <em>Public Enemy</em> ,hoạt động giải trí bốc thăm trúng thưởng và một buổi giao lưu với những nhà trượt ván huyền thoại Tony Alva, Steve Caballerov và Omar Hassan.&nbsp;<br>
                                326 trường học trên khắp Hoa Kỳ tham gia<em><strong> Vans Custom Culture</strong></em>, cuộc thi tùy chỉnh giày cao cấp, sự kiện lên đến đỉnh điểm là khi có bốn trường học từ nước khac bay hẳn đến sân nhà của <em><strong>Vans </strong></em>để tham gia vào các hoạt động cuối tuần bao gồm cả cuộc trưng bày cuối cùng tại <em>Bảo tàng Nghệ thuật Orange</em>. Trong đó vinh quang thuộc về trường trung học<em> Rio Rancho</em> với giải thưởng $10000.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="425" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2010-1-18b5d77d-0194-48a0-a14c-cf774c513b13.jpg?v=1513647932978"></span></span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <strong>Joel Tudor</strong> và <em><strong>Vans </strong></em>tạo ra cuộc thi <strong>Joel Tudor Duct Tape Invitational </strong>loạt để thể hiện sự phát triển tiến bộ của bộ môn lướt sóng. Trong hai năm đầu tiên, cuộc thi <strong>Duct Tape</strong> đã được tổ chức tại các địa điểm lướt sóng nổi tiếng như<em> Virginia Beach, Montauk, Santa Cruz, Malibu, Salinas và Spain.</em><br>
                                <em><strong>Vans </strong></em>hợp tác với cửa hàng bán đồ lưu niệm <em>Thalia </em>dưới tư cách đối tác bán lẻ đầu tiên, <em><strong>Vans by Thalia Surf Shop</strong></em>. Cửa hàng này làm nổi bật trang phục lướt ván và giày dép của <em><strong>Vans</strong></em>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="427" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2010-2.jpg?v=1513647948583"></span></span></p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><strong><em>Năm 2011</em></strong></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="815" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2011-1.jpg?v=1513648014275"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>Vans </strong></em>phát hành bộ phim về lướt sóng đầu tiên của mình "<strong>Get-N Classic, Vol. 1</strong>" với sự hợp tác của anh em nhà <em>Gudauskas</em>, <em>Joel Tudor</em>, <em>John Florence</em> và đội lướt sóng của <strong><em>Vans</em></strong>. Đây là lúc chương trình thiết kế về chủ đề lướt sóng của Vans được bổ sung nhân lực với nhóm người Úc và một trong những người lướt sóng giỏi nhất, <em>Dane Reynolds</em>.<br>
                                Sự mở rộng toàn cầu của <em><strong>Vans </strong></em>tiếp tục với các cột mốc bao gồm phân phối đến Ấn Độ, cửa hàng đối tác quốc tế đầu tiên <em><strong>Off The Hook</strong></em> tại <em>Montreal</em>, <em><strong>Fly Streetwear</strong></em> tại <em>Thượng Hải</em> và thêm một cái khác nữa ở <em><strong>Mexico</strong></em>.<br>
                                Bên cạnh đó, <em><strong>Vans </strong></em>mở cửa hàng đối tác đầu tiên trên bờ biển phía Đông và cửa hàng bán lẻ ở <em>Manhattan </em>khi <strong><em>Vans DQM General</em></strong> mở cửa tại <em><strong>SoHo</strong></em>.<br>
                                Vào tháng 11, Vans đã đạt doanh thu toàn cầu 1 tỷ đô la lần đầu tiên trong lịch sử của mình như một thương hiệu thể thao thể thao lớn nhất trên thế giới và là công ty đầu tiên bắt nguồn từ trượt ván để đạt được sự thành công này.<br>
                                Nữ diễn chính của phim được chuyển thể từ tiểu thuyết nổi tiếng “Hừng Đông” đã bước trên sàn thảm đỏ của <em><strong>Hollywood </strong></em>bằng một đôi <em><strong>Vans </strong></em>nền trắng và đen.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2012</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="427" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2012-1.jpg?v=1513648042981"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <u><em><strong>Vans </strong></em></u>kỷ niệm 20 năm thành lập bằng sự giới thiệu phong cách <em><strong>Half Cab</strong></em>, phong cách trượt ván mang tính biểu tượng của <em>Steve Caballero</em>, được coi là chiếc giày quan trọng nhất trong lịch sử ván trượt ván trượt và văn hoá <em>skate</em>.<br>
                                <strong>No Room for Rockstars</strong> ra mắt vào tháng Tư như là bộ phim tài liệu dài đầu tiên về <em><strong>Vans Warped Tour</strong></em>, được sản xuất bởi đội ngũ từng làm nên <em>Dogtown và Z-Boys</em>. Bộ phim được chấp nhận tham gia Liên hoan phim <em>Slamdance </em>như là một bài thuyết trình nổi bật và được quay ở đầu<em> iTunes Documentary Chart</em>.<br>
                                <strong><em>Vans </em></strong>giới thiệu công nghệ <em><strong>UltraCush Lite </strong></em>mới trong dòng giày <strong><em>LXVI</em></strong>. <em><strong>UltraCush Lite</strong></em> là một hỗn hợp pha trộn các loại bọt được thiết kế để cung cấp độ đệm siêu nhẹ cho giày.<br>
                                Vans giới thiệu loại đế cao su lưu hoá đầu tiên. Công nghệ <em><strong>WAFFLECUP ™</strong></em> mới với khả năng kết hợp tốt đến tuyệt vời của độ bền đế lót và vỏ giày.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2013</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="503" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2013-1.jpg?v=1513648097605"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>Vans </strong></em>kỷ niệm 20 năm cho chương trình thiết kế về <em><strong>snowboarding </strong></em>bằng bộ phim ngắn “<strong>Twenty Years: Off the Wall, On the Snow</strong>” được làm bởi <em>Mike Hatchett</em>, nhà làm phim huyền thoại và là người sáng lập ra <em>Standard Films</em>.<br>
                                <em><strong>Vans </strong></em>ra mắt <em><strong>Mountain Edition Apparel</strong></em>, cung cấp một loạt các thiết kế đường phố và là bộ sưu tập quần áo đầu tiên được thiết kế đặc biệt về chủ đề tuyết.<br>
                                <em><strong>Vans </strong></em>hợp tác với ban nhạc rock <em>Metallica</em>. Mỗi thành viên của <em>Metallica </em>- <em>James Hetfield</em>, <em>Lars Ulrich</em>, <em>Kirk Hammett</em> và<em> Robert Trujillo</em> – đều có thiết kế giày riêng cho mình và hợp tác với các nhà sản xuất của <em><strong>Vans </strong></em>bao gồm <em>Pat Moore</em>, <em>Steve Caballero</em>, <em>Nathan Fletcher </em>và <em>Tony Trujillo</em> cho một loạt phim <strong>OffTheWall.TV</strong> đặc biệt.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="436" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2013-2.jpg?v=1513648115720"></span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Vào tháng 7, Vans mở sự kiện <em><strong>Vans US Open Of Surfing</strong></em> tại bãi biển <em>Huntington</em>, <em>California</em>.<br>
                                <em><strong>Vans </strong></em>hợp tác với <strong>Disney </strong>cho sự kiên <strong>Fall 2013</strong> với một số nhân vật <strong>Disney </strong>yêu thích nhất như<em> Mickey Mouse</em>, <em>Winnie the Pooh</em> và <em>Donald Duck</em>, các nhân vật này mang trên mình một đôi giày cổ điển của <em><strong>Vans </strong></em>được thiết kế từ những năm cuối thập niên 80 đã không còn trong kho lưu trữ.<br>
                                Hơn 1.000 trường học từ 50 tiểu bang tham dự Cuộc thi <em><strong>Vans Custom Culture</strong></em>. <em><strong>Vans</strong></em> đã hợp tác với <strong>Truth</strong>, <strong>Americans of the Arts</strong> và <strong>Journeys </strong>để tuyên truyền tầm quan trọng của ý nghĩa sáng tạo nghệ thuật trong trường học. Trong đó Vans đã đóng góp hơn 300.000 đô la để hỗ trợ các chương trình nghệ thuật trung học<br>
                                <em><strong>Vans Custom Culture</strong></em> mở rộng sang <em>Brazil </em>với 50 trường học tham gia trong năm đầu tiên.<br>
                                Vận động viên trượt ván chuyên nghiệp <em>Chima Ferguson</em> và <em><strong>Vans </strong></em>tạo bộ sưu tập giày <strong><em>Chima Pro</em></strong>, mô hình chữ ký đầu tiên trong sáu năm.<br>
                                <em><strong>Vans </strong></em>giới thiệu bộ phim ngắn <strong>Ductumentary </strong>nói về những cống hiện của<strong> Jole Tudor</strong> cho sự nghiệp lướt sóng chuyên nghiệp. Được sản xuất bởi đạo diễn <em>Graham Nash</em> và <em>Reagan Richie</em>, bộ phim có sự góp mặt của <strong><em>Joel Tudor</em></strong>, <em>Alex Knost</em>, <em>Tyler Warren</em>, <em>Ryan Burch</em>, <em>Jared Mell</em> và nhiều diễn viên đáng chú ý khác.<br>
                                <em><strong>Vans </strong></em>triển khai một chương trình phát sóng trực tiếp cho sự kiện <em><strong>Triple Crown of Surfing</strong></em>. Trang web phát sóng trực tiếp cho phép 3.5 triệu người từ hơn 70 quốc gia xem cuộc đấu cạnh tranh nhất lịch sử lướt sóng lúc bấy giờ. Ngày cuối cùng của cuộc thi đã ghi nhận được hơn 1 triệu khán giả trực tuyến.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2014</strong></em></u></span></span><br>
                            <span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="426" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2014-2.jpg?v=1513648177833"></span>
                        </span>
                    </p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <strong>Iouri ‘Ipod’ Podladtchikov</strong> giành được huy chương vàng tại <strong>Sochi Olympic Game</strong> khi đang mang trên mình một đôi giày trượt tuyết của <em><strong>Vans</strong></em>.<br>
                                <em><strong>Vans </strong></em>ra mắt chiến dịch thương hiệu <em><strong>Living Off The Wall</strong></em>. Chiến dịch này có các nhà làm phim tài liệu từ khắp nơi trên thế giới sử dụng từ ngữ, hình ảnh và biểu tượng cảm xúc chuyển động để thể hiện nguồn gốc của những chiếc Vans nổi bật như <em><strong>Off The Wall</strong></em>.&nbsp;<br>
                                Vào tháng 3, <em><strong>Vans </strong></em>mở một công viên trượt tuyết rộng 42.000 feet vuông gần bờ biển <em>Huntington</em>, <em>California </em>với sự tham gia của hơn 1.000 người ngày đầu tiên và nhiêu gương mặt nổi tiếng khác như <em>Geoff Rowley, Johnny Layton, Kyle Walker và Christian Hosoi</em>.<br>
                                <em><strong>Vans </strong></em>hợp tác với nhóm nhạc <strong>The Beatles</strong> cho sự kiện <strong>Spring 2014 The Beatles Yellow Submarine</strong> với màn ra mắt là bộ sưu tập của <em><strong>Vans</strong></em>, với thiết kế được lấy cảm hứng từ album và phim của <strong>The Yellow Submarine</strong>.<br>
                                Vào tháng 3, <em><strong>Vans </strong></em>tiếp tục tổ chức lễ hội <em><strong>SXSW </strong></em>với 5 ngày hoạt động âm nhạc tại <em><strong>House of Vans</strong></em> ở sân vận động <em>Mohawk </em>và tổ chức <em><strong>Lans Vans</strong></em>, buổi mic mở hàng ngày cho các nghệ sỹ nhạc rock địa phương. Vans cũng đã ra mắt bộ sưu tập bốn đôi đại diện cho những ban nhạc vào thời gian diễn ra hoạt động.<br>
                                Vào tháng 5, <em><strong>Vans </strong></em>đã tổ chức cuộc thi <em><strong>Vans Pool Party</strong></em> lần thứ 10, và lần đầu tiên giới thiệu bộ phận <em><strong>Legends</strong></em>. Người chiến thắng với danh hiệu <em><strong>Legend </strong></em>là <em><strong>Chris Miller</strong></em>, <em><strong>Jeff Grosso</strong></em>, và <strong><em>Christian Hosoi</em></strong>, còn ở danh hiệu <strong>Master </strong>là <em><strong>Bruno Passos</strong></em>, <em><strong>Brian Patch</strong></em> và <em><strong>Darren Navarette</strong></em>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="426" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2014-3.jpg?v=1513648201678"></span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em><strong>Vans Custom Culture</strong></em> năm thứ tư có hơn 2000 trường tham gia với điểm nhấn là buổi quyên góp công khai của Vans đạt tới <strong>$375,000</strong> dành cho chương trình nghệ thuật trường trung học khắp toàn quốc. Còn <em><strong>Vans Custom Culture Brazil </strong></em>bắt đầu năm thứ hai với 147 trường tham gia.<br>
                                Thiết kế của <em><strong>Vans </strong></em>tiến tới chủ đề về thiên hà ngay khi có được cho mình giấy phép sử dụng hình ảnh bản quyền của <em>Star War</em>, và tung ra một bộ sưu tập ngay sau đó, lấy cảm hứng từ bộ ba tác phẩm gốc của Star Wars.&nbsp;<br>
                                Vào tháng 7, <strong>Get-N Classic Vol. 3 </strong>được phát hành với đội<em><strong> Vans Surf</strong></em>, bao gồm cả các huyền thoại <em>Nathan Fletcher</em> và <em>Joel Tudor</em>, <em>Dane Reynolds</em>, <em>anh em Gudauskas</em>, <em>Dylan Graves</em>, <em>Ivan </em>và <em>Nathan Florence</em>, <em>Leila Hurst</em>.<br>
                                <em><strong>Vans</strong></em>, hợp tác với trường cao đẳng âm nhạc <strong>Berklee</strong>, trường đại học âm nhạc đương đại hàng đầu thế giới, tự hào tuyên bố rằng <em>Miette Hope-Goldman</em>, ca sĩ-nhạc sĩ 17 tuổi, là người đầu tiên nhận được <em><strong>Vans Berklee Off The Wall Scholarship</strong></em> - một học bổng bốn năm bao gồm học phí và phòng ở.<br>
                                Vào tháng Tám, House of Vans London, một nhà văn hóa nghệ thuật rộng 3.000 mét vuông, bao gồm cả sân khấu âm nhạc và sân trượt băng dưới ga <strong>Waterloo </strong>đã mở ra cung cấp thêm nhiều hoạt động giải trí hơn cho sân chơi nơi đây.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="427" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2014-4.jpg?v=1513648214775"></span></span></p>
                    <p style="text-align: justify;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                <em>Steve Van Doren</em> cùng với huyền thoại <em>Tony Alva</em> và <em>Christian Hosoi</em> đã tới <em>Boston </em>vào tháng 10 để tham dự<strong> Lynch Family Skatepark</strong> được chờ đợi từ lâu tổ chức tại <em>Boston </em>vào năm 2015. Trong hơn một thập niên, Bảo tàng sông Charles đã chiến đấu để cung cấp một môi trường an toàn và công viên miễn phí dành cho người trượt ván địa phương và người đi xe đạp <em>BMX</em>.<br>
                                <em><strong>Vans </strong></em>giới thiệu một trải nghiệm bán lẻ mới tại khu vực thời trang cao cấp của <strong><em>Apgujeong</em> </strong>ở <em>Seoul, Hàn Quốc</em>. Trưng bày khắp hai tầng và bao phủ 330 mét vuông ở trung tâm của phố <em>Rodeo</em>, cửa hàng <strong><em>Apgujeong </em></strong>mới bày tỏ lòng tôn kính đến di sản lâu đời của <em><strong>Vans </strong></em>và được thiết kế như là một trải nghiệm thương hiệu sâu sắc. Vào ngày 12 tháng 12, cộng đồng địa phương đã tổ chức lễ khai trương cửa hàng với một buổi biểu diễn trực tiếp của nhà trượt ván huyền thoại <u><strong>Tony Alva</strong></u>.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <span style="font-size:14px;"><span style="font-family:Arial,Helvetica,sans-serif;"><img data-thumb="original" original-height="320" original-width="640" src="//bizweb.dktcdn.net/100/140/774/files/2014-5.jpg?v=1513648224623"></span></span><br>
                        &nbsp;
                    </p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;">&nbsp;</p>
                    <p style="text-align: center;"><span style="font-size:14px;"><span style="color:#c0392b;"><u><em><strong><span style="font-family:Arial,Helvetica,sans-serif;">Năm 2015</span></strong></em></u></span></span></p>
                    <p style="text-align: justify;">
                        <span style="font-size:14px;">
                            <span style="font-family:Arial,Helvetica,sans-serif;">
                                Vào <em>tháng 5 năm 2015</em>, <em><strong>Vans </strong></em>ra mắt <strong>Propeller: A Vans Skateboarding Video</strong>, bộ phim ngắn về ván trượt đầu tiên của <strong><em>Vans</em></strong>. Dịp trọng đại này đã đánh dấu giá trị của <em><strong>Vans Pro Skate</strong></em> trên nền thương nghiệp thời trang quốc tế. <strong>PROPELLER </strong>trở thành một trong những bộ phim trượt băng có thời lượng xem xong nhanh nhất trên <em>iTunes</em>.<br>
                                Vào <em>mùa hè năm 2015</em>, <em><strong>Vans </strong></em>phát hành bộ sưu tập "<strong>Young at Heart</strong>" của <strong>Disney </strong>và <strong>Vault by Vans x Takashi Murakami</strong>. Sự hợp tác này đã cho ra đời các sản phẩm yêu thích dành cho những người hâm mộ trên toàn thế giới.<br>
                                Nhóm tích hợp trực tuyến của <em><strong>Vans </strong></em>đã nhận được giải thưởng “<strong>VF Pinnacle 2015</strong>". Danh hiệu có uy tín được cấp hàng năm cho một nhóm trong <strong>VF </strong>trên toàn cầu đã nâng cao các mệnh lệnh chiến lược của công ty thông qua hợp tác và phát triển với phương pháp<strong> One VF</strong>.<br>
                                <em>Năm 2015</em> đánh dấu kỷ niệm 10 năm bằng bộ sưu tập <em><strong>Syndicate</strong></em>, lễ hội dành cho <em><strong>Vans Pro Skate</strong></em> tôn vinh những đóng góp đa dạng về ý tưởng thiết kế, thái độ tận tâm đã làm nên di sản bất hủ cho nền văn hóa độc đáo về ván trượt.
                            </span>
                        </span>
                    </p>
                    <p style="text-align: center;">
                        <br>
                        <span style="font-size:14px;">
                            <span style="color:#c0392b;"><span style="font-family:Arial,Helvetica,sans-serif;"><u><em><strong>Năm 2016</strong></em></u></span></span><br>
                            <strong><span style="font-family:Arial,Helvetica,sans-serif;">Vans tổ chức lễ kỉ niệm 50 năm vào ngày 16 tháng 3</span></strong>
                        </span>
                    </p>
                    <h3 style="text-align: justify;"><span style="font-size:14px;"><span style="line-height:1;"><strong><span style="font-family:Arial,Helvetica,sans-serif;">Lịch Sử Của VANS</span></strong></span></span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
